@model int
<div class="foodter">
    <div class="foodter__icon-left foodter__icon">
        <i class="fa-solid fa-cart-plus"></i>
    </div>
    <div class="foodter__content">Xem giỏ hàng(@Model)</div>
    <div class="foodter__icon-right foodter__icon">
        <i class="fa-solid fa-angle-right"></i>
    </div>
</div>