<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebQuanLyTuXa.styles.css" asp-append-version="true" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="~/asset/font/fontawesome-free-6.5.2-web/fontawesome-free-6.5.2-web/css/all.min.css">

    <link rel="stylesheet" href="~/asset/css/base.css" asp-append-version="true">
    <link rel="stylesheet" href="~/asset/css/responsive.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="btl.css">
    <link rel="stylesheet" href="~/QuanLyNhaHang_User.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/asset/css/menu.css" asp-append-version="true">
    <title>Kính chào quý khách</title>
</head>


<body>
    <div class="app__menu">
        <div class="header__menu-inner" style="position:fixed; top:0; left:0; right:0; z-index:1000;">
            <div class="call-staff--mini-home">
                <i class="fa-solid fa-house"></i>
            </div>

            <div class="search-area animation">
                <div class="header-area__search-form">
                    <div class="header-area__search-form--inner">
                        <div class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                        <input type="text" placeholder="Bạn muốn tìm món gì ?" class="input-text--search">
                    </div>
                </div>
            </div>
        </div>
       @* Category *@
        <div class="menu__category-nav">
            @await Component.InvokeAsync("CategoryInMenu")
        </div>
        <div class="" style="position:fixed; top:0; right:0; left:0; height:50px; background-color:#fff; z-index: 20;"></div>
        <div class="container__menu" id="content" style="margin-top: 90px;">
            @await Component.InvokeAsync("ProductInMenu")
        </div>
        <div class="foodter">
            <div class="foodter__icon-left foodter__icon">
                <i class="fa-solid fa-cart-plus"></i>
            </div>
            <div class="foodter__content">Xem giỏ hàng(6)</div>
            <div class="foodter__icon-right foodter__icon">
                <i class="fa-solid fa-angle-right"></i>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            // Bắt sự kiện khi lướt trang
            $(window).on("scroll", function () {
                $('.container__menu').each(function () {
                    var category = $(this);
                    var offsetTop = category.offset().top;
                    var scrollPosition = $(window).scrollTop();
                    var categoryName = category.find('.label-container').text().trim();

                    // Kiểm tra nếu danh mục này ở vị trí gần trên cùng màn hình
                    if (scrollPosition >= offsetTop - 50) {
                        $('.category-item').removeClass('active');
                        $('.category-item').each(function () {
                            if ($(this).text().trim() === categoryName) {
                                $(this).addClass('active');
                                // Di chuyển danh mục lên đầu
                                var categoryNav = $('.menu__category-nav');
                                $(this).prependTo(categoryNav);
                            }
                        });
                    }
                });
            });
        });

    </script>
</body>

</html>